DATABASE_SELF_SERVICE_HOST=${DATABASE_SELF_SERVICE_HOST}
DATABASE_SERVICE_PORT=${DATABASE_SERVICE_PORT}

DATABASE_HOST_URL=${DATABASE_HOST_URL}
DATABASE_PORT=${DATABASE_PORT}
DATABASE_NAME=${DATABASE_NAME}
DATABASE_USER=${DATABASE_USER}
DATABASE_PASSWORD=${DATABASE_PASSWORD}
DATABASE_SSL_MODE=${DATABASE_SSL_MODE}
DATABASE_POOL_SIZE=${DATABASE_POOL_SIZE}
