AUTH_SERVICE_SELF_HOST=${AUTH_SERVICE_SELF_HOST}
AUTH_SERVICE_PORT=${AUTH_SERVICE_PORT}

DATABASE_SERVICE_HOST=${DATABASE_SERVICE_HOST}
DATABASE_SERVICE_PORT=${DATABASE_SERVICE_PORT}

JWT_ISSUER=${JWT_ISSUER}
JWT_AUDIENCE=${JWT_AUDIENCE}
JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
JWT_ACCESS_TTL_SEC=${JWT_ACCESS_TTL_SEC}
JWT_GUEST_SECRET=${JWT_GUEST_SECRET}
JWT_GUEST_TTL_SEC=${JWT_GUEST_TTL_SEC}

GOOGLE_TOKEN_AUDIENCE=${GOOGLE_TOKEN_AUDIENCE}
# Comma-separated list of OAuth client IDs allowed in Google id_token "aud" when more than one client issues tokens.
