GATEWAY_SERVICE_HOST=${GATEWAY_SERVICE_HOST}
GATEWAY_SERVICE_PORT=${GATEWAY_SERVICE_PORT}

AUTH_SERVICE_HOST=${AUTH_SERVICE_HOST}
AUTH_SERVICE_PORT=${AUTH_SERVICE_PORT}

DATABASE_SERVICE_HOST=${DATABASE_SERVICE_HOST}
DATABASE_SERVICE_PORT=${DATABASE_SERVICE_PORT}
